.leaderboard
  %h1 We regret! a lot.. Pardon us!!
  %hr
  %p Sorry, we couldn't do it right. But don't leave us. We need love. 
  %blockquote 
    %p We all make mistakes but one has to move on.
    %small Jeffrey Archer