.leaderboard
  %h1 Create Your Lyric Card
  %p You can create your own lyric card, picking the best lyrics from your favourite song.You can customize your card with your loved colors and fonts.And you can give it to one you love or make it your cover picture. Yes! Its possible with 3 easy steps. So
     %a{:class=>"btn btn-success btn-large" :href=>"#"}
  .row
    .span4
      h2 Select Lyrics
      %p You can select you favourite lyrics from your favourite song with the help of our huge lyrics collection powered by MusixMatch
    .span4 
      h2 Spice It
      %p Add some seasoning to the lyric choosing a good background color, font and color of text
    .span4
      h2 Show It Off!
      %p Upload it on Facebook, so you can give it to your friends, tell them how much you love 'em or just show off! as you cover photo	
