.leaderboard
  %h1 Create Your Lyric Card!!
  %p You can create your own lyric card, picking the best lyrics from your favourite song.You can customize your card with your loved colors and fonts.And you can give it to one you love or make it your cover picture. Yes! Its possible with 3 easy steps.
  %a{:href=>"https://www.facebook.com/dialog/oauth?client_id=#{@app_id}&redirect_uri=#{@redirect_id}&scope=#{@permission_names}&state=#{@state_string}"}
    %img{:src=>'images/connect_fb.png',:alt=>'Connect with facebook to get started'}
.row
  .span4
    %img.intro_icon{:src=>"/images/note.png"}
  .span4
    %img.intro_icon{:src=>"/images/plus.png"}
  .span4
    %img.intro_icon{:src=>"/images/heart.png"}
.row
  .span4
    %h1.step Select!
    %p You can select you favourite lyrics from your favourite song with the help of our huge lyrics collection powered by MusixMatch
  .span4 
    %h1.step Spice!
    %p Add some seasoning to the lyric by choosing a good background color, font and color of text
  .span4
    %h1.step Show!
    %p Upload it on Facebook, so you can give it to your friends, tell them how much you love 'em or just show off! as you cover photo	
