.leaderboard
  %h1 Search
  %div{:class=>'progress progress-info progress-striped',:style=>"margin-bottom: 9px;"}
    %div{:class=>'bar',:style=>"width: 0%"}
  %p Type in those magic words, and we bring you deepest of your emotions
  %blockquote 
    %p Every heart sings a song, incomplete, until another heart whispers back. Those who wish to sing always find a song. At the touch of a lover, everyone becomes a poet.
    %small Plato
  .row
    .span12
      .select_content
        #search
          .container
            .row
              .span11
                %form#search_form{:class=>"well form-search",:method=>"get",:action=>'/select'}
                  %input#search_songs{:type=>"text",:name=>"query",:class=>"input-medium search-query",:value=>"Search for your favourite lines"}