.leaderboard
  %h1 Select
  %div{:class=>'progress progress-info progress-striped',:style=>"margin-bottom: 9px;"}
    %div{:class=>'bar',:style=>"width: 0%"}
  %p Match us with your heart
  %blockquote 
    %p Every heart sings a song, incomplete, until another heart whispers back. Those who wish to sing always find a song. At the touch of a lover, everyone becomes a poet.
    %small Plato
  .row
    .span12
      .select_content
        #search
          .container
            .row
              .span11
                %form#search_form{:class=>"well form-search",:method=>"get",:action=>'/select'}
                  %input#search_songs{:type=>"text",:name=>"query",:class=>"input-medium search-query",:value=>"Search for your favourite lines"}

-unless @search_result.nil?
  .row
    %div{:class=>"span10 offset2"}
      #results
        -unless @search_result.nil?
          :javascript
            $(".bar").css("width","11%");
          -@search_result.each do |result|
            .span4
              .result
                %a{:href=>"/lyrics?track_id=#{result[:track_id]}"}
                  %ul.result{:id=>"#{result[:track_id]}"}
                    %h3
                      %i{:class=>"icon-music"}
                      =result[:track_name]
                    %li.artist
                      %i{:class=>"icon-user"}
                      =result[:artist_name]
                    %li.album 
                      %i{:class=>"icon-headphones"}
                      =result[:album_name]
    