.leaderboard
  %h1 Select
  %div{:class=>'progress progress-info progress-striped',:style=>"margin-bottom: 9px;"}
    %div{:class=>'bar',:style=>"width: 0%"}
  %p Just find your favourite song and select the lines you love, coz we believe
  %blockquote 
    %p Every heart sings a song, incomplete, until another heart whispers back. Those who wish to sing always find a song. At the touch of a lover, everyone becomes a poet.
    %small Plato