%script{:type=>'text/javascript',:src=>'/scripts/list.min.js'}
:javascript
  $(document).ready(function(){
    $('#search').hide();
    var shout_list = new Array();
    var options = {valueNames:['name']}
    $("#submit").click(function(){
          $.each(shout_list,function(index){
          document.getElementById('friend_stack').value+=","+shout_list[index];
          });
          console.log(document.getElementById('friend_stack').value);
          $("#publish").submit();
    });
    var friend_click = function()
    	{
    		if(already_added(this.id)==false)
    		   {  $(this  ).attr("selected",true);
    		   		shout_list.push(this.id);
    		   		elem = $('<li>');
    		   		elem.attr("class","label label-info");
    		   		elem.attr("id","lab"+$(this).attr("id"));
    		   		elem.html($(this).attr("name"));
    		   		$("#selected").prepend(elem);
    		   	}
    		else
    		  {
    		  	$(this).attr("selected",false);
            shout_list.splice(shout_list.indexOf(this.id),1);
    		  	$("#lab"+this.id).remove();
    		  }
    		console.log(shout_list); 

    	}
    function already_added(id)
    	{
    		var flag = false;
    		$.each(shout_list,function(elem){
    			if(shout_list[elem]==id)
    			  { 
    				flag = true;
    				}
    			});
    		return flag;
    	}
    $("#load_friends").click(function(){
    	$(this).html("<img src='/images/busy.gif'/>Loading friend list..");
      $.ajax({
    		url: "#{@friends}",
    		dataType: "json",
    		success:function(data,status){
    			$.each(data, function(data) {$.each(user,function(user){
  						console.log(data.name);
              item = $('<li>')
   						item.class = 'friend'
  						item.attr("id",data.id);
  						item.attr("name",data.name);
  						item.html("<div class='finfo'><img src=	https://graph.facebook.com/"+data[user].id+"/picture/><h2 class='name'>"+data[user].name+"</h2></div>");
  						$("#friend-list").append(item);
  						$("#"+data[user].id).bind('click',friend_click);
              });});
              $(this).html("<h3>Select them</h3> click to tag/untag");
              $('#search').show();
              var friendList = new List('friends', options);
    		  }
    		});
                    });
    });
.leaderboard
  %h1 Show
  %div{:class=>'progress progress-info progress-striped',:style=>"margin-bottom: 9px;"}
    %div{:class=>'bar',:style=>"width: 66.66%"}
  %p And make a lot of people know that you love them, coz thats how the saying goes
  %blockquote 
    %p Love only grows by sharing. You can only have more for yourself by giving it away to others
    %small Brian Tracy
.row
  %div.span3{:id=>"share_options"}
    %form{:id=>"publish",:name=>"publish_to",:method=>"post",:action=>"/success"}
      %input{:type=>"hidden",:name=>"friends",:id=>"friend_stack"}
      %ul#panel_bar
        %li.option{:id=>"publish_option"}
          %i{:class=>"icon-eye-open"}
          %h3 Who should see it?
          %input{:type=>"radio",:value=>"secret",:name=>"pub_opt",:disabled=>true}Secret
          %input{:type=>"radio",:value=>"public",:name=>"pub_opt",:checked=>true}Public
        %li.option{:id=>"message"}
          %i{:class=>"icon-pencil"}
          %h3 Attach A Message
          %textarea{:rows=>"3",:cols=>"50",:name=>"message"}
        #show_friends{:class=>"option",:loaded=>"false"}
          %i{:class=>"icon-user"}
          #load_friends{:loaded=>"false"} 
            %h3 Click to tag some friends
          #friends
            %input#search{:type=>"text", :class=>"search"}
            %ul#friend-list{:class=>'list'}
  %div{:class=>"span8 offset1"}
    %img{:src=>"usr_images/#{@file_path}",:id=>"image"}
    #select_box{:class=>"span2 offset3"}
      #selected
    #button
      %button#submit{:class=>"btn btn-success"}Yay!! Let's do it!