.leaderboard
  %h1 Show
  %div{:class=>'progress progress-info progress-striped',:style=>"margin-bottom: 9px;"}
    %div{:class=>'bar',:style=>"width: 66.66%"}
  %p And make a lot of people know that you love them, coz thats how the saying goes
  %blockquote 
    %p Love only grows by sharing. You can only have more for yourself by giving it away to others
    %small Brian Tracy