%script{:type=>'text/javascript',:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
%script{:type=>'text/javascript',:src=>'/scripts/list.min.js'}
%script{:type=>'text/javascript',:src=>'/jquery.facebook.multifriend.select.js'}
%link{:rel=>'stylesheet',:href=>'jquery.facebook.multifriend.select-list.css'}
.leaderboard
  %h1 Show
  %div{:class=>'progress progress-info progress-striped',:style=>"margin-bottom: 9px;"}
    %div{:class=>'bar',:style=>"width: 66.66%"}
  %p And make a lot of people know that you love them, coz thats how the saying goes
  %blockquote 
    %p Love only grows by sharing. You can only have more for yourself by giving it away to others
    %small Brian Tracy
.row
  %div.span3{:id=>"share_options"}
    %form{:id=>"publish",:name=>"publish_to",:method=>"post",:action=>"/success"}
      %input{:type=>"hidden",:name=>"friends",:id=>"friend_stack"}
      %ul#panel_bar
        %li.option{:id=>"publish_option"}
          %i{:class=>"icon-eye-open"}
          %h3 Who should see it?
          %input{:type=>"radio",:value=>"secret",:name=>"pub_opt",:disabled=>true}Secret
          %input{:type=>"radio",:value=>"public",:name=>"pub_opt",:checked=>true}Public
        %li.option{:id=>"message"}
          %i{:class=>"icon-pencil"}
          %h3 Attach A Message
          %textarea{:rows=>"3",:cols=>"50",:name=>"message"}
        #show_friends{:class=>"option",:loaded=>"false"}
          %i{:class=>"icon-user"}
          #load_friends{:loaded=>"false"} 
            %h3 Click to tag some friends
          %div{:id=>'fb-root'}
          %script{:src=>"http://connect.facebook.net/en_US/all.js"}
          :javascript
            FB.init({appId: '474165465927936', cookie: true});
            function init() {
                  FB.api('/me', function(response) {
                      $("#username").html("<img src='https://graph.facebook.com/" + response.id + "/picture'/><div>" + response.name + "</div>");
                      $("#jfmfs-container").jfmfs({ max_selected: 1, max_selected_message: "{0} of {1} selected"});
                      $("#logged-out-status").hide();
                      $("#show-friends").show();
  
                  });
                }              

                $(document).ready(function(){init()});
                $("#show-friends").live("click", function() {
                    var friendSelector = $("#jfmfs-container").data('jfmfs');             
                    $("#selected-friends").html(friendSelector.getSelectedIds().join(', ')); 
                });
            %div
              #username
              %a#show-friends{:href=>"#",:style=>"display:none;"}Show Slected Friends
              #selected-friends{style=>"height:30px;"}
              #jfmfs-container
  %div{:class=>"span8 offset1"}
    %img{:src=>"usr_images/#{@file_path}",:id=>"image"}
    #select_box{:class=>"span2 offset3"}
      #selected
    #button
      %button#submit{:class=>"btn btn-success"}Yay!! Let's do it!