.leaderboard
  %h1 Spice
  %div{:class=>'progress progress-info progress-striped',:style=>"margin-bottom: 9px;"}
    %div{:class=>'bar',:style=>"width: 33.33%"}
  %p Just make those few lines of love look good. They say
  %blockquote 
    %p Love was a feeling completely bound up with color, like thousands of rainbows superimposed one on top of the other
    %small Paulo Coelho