.leaderboard
  %h1 And it almost ends!!
  %div{:class=>'progress progress-info progress-striped',:style=>"margin-bottom: 9px;"}
    %div{:class=>'bar',:style=>"width: 99.99%"}
  %p Ahh!! you are some one who love a lot, continue to do so, as there is a reason for it
  %blockquote 
    %p Life without love is like a tree without blossom and fruit.
    %small Kahlil Gibran
  %div{:class=>"span8 offset2"}
    %h2 Your lyriCard is Uploading..
    %p Menawhile, you can help us by shouting about us!! Wot ya say?? Or you can just close and go. Well a shout from us can make us popular
    %form{:action=>'/thanx'}
      %button{:class=>"btn btn-success"}Shout about 'em & make 'em popular!