.leaderboard
  %h1 And it almost ends!!
  %div{:class=>'progress progress-info progress-striped',:style=>"margin-bottom: 9px;"}
    %div{:class=>'bar',:style=>"width: 99.99%"}
  %p Ahh!! you are some one who love a lot, continue to do so, as there is a reason for it
  %blockquote 
    %p Life without love is like a tree without blossom and fruit.
    %small Kahlil Gibran