.leaderboard
  %h1 Awwwww.... You are loveable!!
  %div{:class=>'progress progress-info progress-striped',:style=>"margin-bottom: 9px;"}
    %div{:class=>'bar',:style=>"width: 100%"}
  %h3 Thanx, that was a lot of help. And helping is the greatness for love. 
  %blockquote 
    %p Act as if what you do makes a difference.  It does.
    %small William James
%h3 Your card is all ready.. go check your timeline.. Do come back.. :)