@font-face {
	font-family: bilbo;
	src: url('fonts/Bilbo.ttf');
}
@font-face {
	font-family: blackopsone;
	src: url('fonts/BlackOpsOne.ttf');
}
@font-face {
	font-family: bree;
	src: url('fonts/Bree.ttf');
}
@font-face {
	font-family: bubblegum;
	src: url('fonts/Bubblegum.ttf');
}
@font-face {
	font-family: damion;
	src: url('fonts/Damion.ttf');
}
@font-face {
	font-family: greatvibes;
	src: url('fonts/GreatVibes.ttf');
}
@font-face {
	font-family: pt;
	src: url('fonts/PT.ttf');
}
@font-face {
	font-family: rogue;
	src: url('fonts/Rogue.ttf');
}
@font-face {
	font-family: sanistaone;
	src: url('fonts/SanistaOne.ttf');
}
@font-face {
	font-family: thegirlnextdoor;
	src: url('fonts/TheGirlNextDoor.ttf');
}
@font-face {
	font-family: yesteryear;
	src: url('fonts/Yesteryear.ttf');
}